<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body style="background-color: darkolivegreen;">
<div align="center" style="background-color: green;">
    <br><br>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
        <input type="submit" value="Upload"><br><br>
        <a href="/keyDetails">Key Details</a><br><br>
    </form>
    Выполнил студен группы РИС-21-1б:<br>
    Абдуллоев Бахтовар Холикназарович<br><br><br><br>
</div>
</body>
</html>
